@font_size: .9em;
@content_width: 80%;

@color_darkest: #20262b;
@color_dark: #ccc;
@color_light: #738c9e;
@color_lightest: #fff;

.rounded(@radius: 6px) 
{
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    border-radius: @radius;
}

.background-gradient(@from, @to)
{
	background: @from;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='@from', endColorstr='@to')"; /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(@from), to(@to)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  @from,  @to); /* for firefox 3.6+ */
}

/**************************************/
/* Global */
/**************************************/

html, body
{
    background-color: @color_dark;
    color: @color_darkest;
    font-family: Helvetica, Arial, Verdana, Sans-Serif;
    font-size: @font_size;
    margin: 0;
}

h1
{
	font-size: @font_size + 1.6;
	font-weight: bold;
	margin: 0;
}

h2
{
	font-size: @font_size + 1;
	font-weight: bold;
	margin: 0;
}

label, h3
{
	font-size: @font_size + .2;
	font-weight: bold;
	margin: 0;
	text-transform: uppercase;
}

img
{
    border: 0;
}

a, a:visited
{
    color: @color_light;
	text-decoration: none;
}

table
{
	border-collapse: collapse;
}

p
{
	margin: 0;
}

.clear
{
	clear: both;
}

pre
{
	font-size: 12px;
	padding: 0;
	margin: 0;
	background: @color_dark + #303030;
	border: 1px solid @color_dark;
	line-height: 20px; 
	width: 100%;
	overflow: auto;

	code
	{
		margin: 0 0 0 40px;  /*--Left Margin--*/
		padding: 18px 0;
		display: block;
	}
}

.path
{
	font-family: Courier;
}

/**************************************/
/* Application */
/**************************************/

#header
{
	.background-gradient(@color_darkest, @color_darkest + #222);
	color: @color_lightest;
	height: 60px;
	padding: 20px 100px 50px 100px;

	#logo
	{
		float: left;
	}

	#account
	{
		float: right;

		ul
		{
			.background-gradient(@color_darkest + #111, @color_darkest);
			.rounded(2em);

			border-top: 1px solid @color_darkest - #111;
			margin: 0;
			padding: 12px 5px;

			a
			{
				color: @color_light + #222;
				font-weight: bold;
				padding: 8px 20px;
			}

			li
			{
				display: inline;
				list-style: none;
				margin: 0 5px;
			}

			li:hover a 
			{
				.rounded(1.6em);
				.background-gradient(@color_light, @color_light - #333);

				border-top: 1px solid @color_light + #333;
				color: @color_lightest;
			}
		}
	}
}

#locationContainer
{
	background-color: @color_darkest + #333;
	height: 30px;
	margin: -30px auto 0 auto;
	width: @content_width;
}

#location
{
	ul
	{
		margin: 0;
		padding: 0;

		li
		{
			display: inline;
			line-height: 30px;

			a
			{
				color: @color_dark;
				float: left;
				font-size: @font_size + .1;
				font-weight: bold;
				padding: 0 20px;
			}
		}

		li.current a, li:hover a
		{
			background-color: @color_lightest;
		}
	}
}

#sublocationContainer
{
	border-bottom: 1px solid @color_dark - #222;
	margin: -10px -10px 10px -10px;
}

#sublocation
{
	margin: 0 0;

	ul
	{
		margin: 0;
		padding: 0;

		li
		{
			line-height: 30px;
			list-style: none;

			a
			{
				display: block;
				float: left;
				padding: 5px 10px;
			}
		}
	}
}

#mainContainer
{
	background-color: @color_lightest;
	margin: 0 auto;
	width: @content_width;
}

#main
{
	padding: 10px;
	fieldset
	{
		border: 0;
		label
		{
			color: @color_light;
			display: block;
		}

		input[type="text"], input[type="password"]
		{
			border: 1px solid @color_dark;
			margin-bottom: 10px;
			width: 200px;
		}
	}

	.box
	{
		padding: 0 0 10px 0;
		width: 250px;

		h3
		{
			color: @color_light;
			margin: 0;
			padding: 5px;
		}

		ul
		{
			border-bottom: 1px solid @color_dark - #111;
			margin: 0;
			padding: 0;

			li
			{
				border-top: 1px solid @color_dark - #111;
				list-style: none;

				a
				{
					display: block;
					padding: 3px 10px;
				}
			}

			li:first-child
			{
				background-color: @color_light;
				text-align: right;

				a
				{
					color: @color_lightest;
				}
			}
		}
	}

	table
	{
		border: 1px solid @color_dark - #222;
		font-family: Courier;
		width: 100%;

		caption
		{
			margin-bottom: 5px;
			text-align: left;
		}

		thead tr
		{
			background-color: @color_dark;
		}

		tr
		{
			border-bottom: 1px solid @color_dark - #222;
		}

		th, td
		{
			text-align: center;
			padding: 5px;
		}

		th:first-child, td:first-child
		{
			text-align: left;
		}
	}

	#content
	{
		clear: both;
	}
}

/**************************************/
/* Dashboard */
/**************************************/
#newsitems
{
	float: left;
	ul
	{
		padding: 0;
		li
		{
			border-bottom: 1px solid @color_dark;
			list-style: none;
			margin-bottom: 10px;
			padding-bottom: 10px;
		}
	}
}

#repositories
{
	float: right;
}

/**************************************/
/* Project */
/**************************************/

#project
{
	border-bottom: 1px solid @color_dark - #222;
	margin-bottom: 20px;

	.checkout
	{
		font-family: Courier;
		font-size: @font_size;
		margin: 10px;
	}
}

.commit
{
	.background-gradient(@color_light + #333, @color_lightest);
	border: 1px solid @color_dark - #222;
	margin-bottom: 10px;
	padding: 10px;

	.info
	{
		float: left;
		width: 50%;
	}

	.versions
	{
		float: right;
	}
}

.codeDiff
{
	margin-bottom: 20px;

	.code
	{
		display: none;
	}

	table.diff 
	{
		border-collapse:collapse;
		border:1px solid darkgray;
	}

	table.diff tbody 
	{ 
		font-family:Courier, monospace;
	}

	table.diff tbody th 
	{
		font-family:verdana,arial,'Bitstream Vera Sans',helvetica,sans-serif;
		background:#EED;
		font-size:11px;
		font-weight:normal;
		border:1px solid #BBC;
		color:#886;
		padding:.3em .5em .1em 2em;
		text-align: right;
		vertical-align:top;
		width: 10px;
	}

	table.diff tbody td 
	{
		padding:0px .4em;
		padding-top:.4em;
		text-align: left !important;
		vertical-align:top;
	}

	table.diff .empty 
	{
		background-color:#DDD;
	}

	table.diff .replace 
	{
		background-color:#FD8;
	}

	table.diff .delete 
	{
		background-color:#E99;
	}

	table.diff .skip 
	{
		background-color:#EFEFEF;
		border:1px solid #AAA;
		border-right:1px solid #BBC;
	}

	table.diff .insert 
	{
		background-color:#9E9;
	}
}