@font_size: .9em;

/*
@color-1: #20262b;
@color-2: #fff2c1;
@color-3: #80a894;
@color-4: #52736b;
@color-5: #093844;
*/

@color1: #20262b;
@color2: #738C9E;
@color3: #fff;

.rounded(@radius: 6px) 
{
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    border-radius: @radius;
}

.background-gradient(@from, @to)
{
	background: @from;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='@from', endColorstr='@to')"; /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(@from), to(@to)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  @from,  @to); /* for firefox 3.6+ */
}

/**************************************/
/* Global */
/**************************************/

html, body
{
    background-color: @color1;
    color: @color3;
    font-family: Helvetica, Arial, Verdana, Sans-Serif;
    font-size: @font_size;
    margin: 0;
    padding: 0;
}

h1
{
    font-size: @font_size + 1;
}

img
{
    border: 0;
}

a, a:visited
{
    color: @color3;
}

span.user
{
    font-weight: bold;
}

fieldset
{
	.rounded(1em);

	padding: 5px;
	width: 90%;

	legend
	{
		.rounded(1em);
		font-size: @font_size + 1;
		font-weight: bold;
		padding: 5px 30px;
		text-align: right;
	}

	label
	{
		display: block;
		margin: 0 0 5px 5px;
	}

	input[type="text"], input[type="password"]
	{
		margin: 0 0 15px 5px;
		width: 90%;
	}
}

/**************************************/
/* Application */
/**************************************/

#header
{
	.background-gradient(@color1, @color1 + #222);
	border-bottom: 1px solid @color1 - #111;
	padding: 20px 100px 50px 100px;

	#logo
	{
		color: @color3;
		font-size: @font_size + 1.6;
		font-weight: bold;
		float: left;
	}

	#account
	{
		float: right;
		font-size: @font_size + .1;

		ul
		{
			.background-gradient(@color1 + #111, @color1);
			.rounded(2em);

			line-height: 100%;

			border-top: 1px solid @color1 - #111;
			margin: 0;
			padding: 12px 5px;

			a
			{
				color: @color2 + #222;
				font-weight: bold;
				margin: 0;
				padding: 8px 20px;
				text-decoration: none;
			}

			li
			{
				display: inline;
				list-style: none;
				margin: 0 5px;
				padding: 0 0 8px;
				position: relative;
			}

			li:hover > a 
			{
				.rounded(1.6em);
				.background-gradient(@color2, @color2 - #333);

				border-top: 1px solid @color2 + #333;
				color: @color3;

			}
		}
	}
}

#main
{
	margin: 30px auto;
	width: 900px;

	fieldset
	{
		background-color: @color2;
		border: 5px solid @color2 + #222;

		legend
		{
			background-color: @color2;
			border: 5px solid @color2 + #222;
		}

		input[type="text"], input[type="password"]
		{
			border: 1px solid @color1;
		}
	}
}

/**************************************/
/* Login */
/**************************************/

#login
{
	margin: 0 auto;
	width: 400px;
}

/**************************************/
/* Register */
/**************************************/

#register
{
	margin: 0 auto;
	width: 400px;
}